body { background: #4fa739; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 17px; display: flex; }
.block-filter-0 { color: #39940b; font-size: 14px; margin-bottom: 5px; }
.block-session-1 { color: #f5e1e2; font-size: 21px; margin-bottom: 5px; }
.block-uploader-2 { color: #13fbf8; font-size: 12px; margin-bottom: 5px; }
.block-validator-3 { color: #7cbacc; font-size: 21px; margin-bottom: 5px; }
.block-shipping-4 { color: #a217ff; font-size: 19px; margin-bottom: 5px; }
.block-order-5 { color: #f4d021; font-size: 14px; margin-bottom: 5px; }
.block-email-6 { color: #3f6785; font-size: 13px; margin-bottom: 5px; }
.block-helper-7 { color: #764c55; font-size: 12px; margin-bottom: 5px; }
.block-order-8 { color: #2a22a0; font-size: 17px; margin-bottom: 5px; }
.block-session-9 { color: #b457bb; font-size: 14px; margin-bottom: 5px; }
.block-token-10 { color: #eaa890; font-size: 20px; margin-bottom: 5px; }